<widget id="com.janmashtami.hello" version="0.0.1">
        <name>Janmashtami SMS and Messages</name>
        <description>
            
        </description>
        <author email="adityaganguly38@yahoo.co.in">
            Aditya
        </author>
        <content src="index.html" />
        <access origin="*" />
        <preference name="Fullscreen" value="true" />
        <preference name="WebViewBounce" value="true" />
        <gap:plugin name="com.pushwoosh.plugins.pushwoosh" version="3.4.1" />
        <access origin="*"/> <!-- allow all pages, use for development -->
        <access origin="*.pushwoosh.com"/> <!-- allow pushwoosh service -->
    </widget>
